.Pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    
}

.PaginationContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

.Arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    height: 60px;
}

.Content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 1.3em;
    font-weight: 500;
}