
.Content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    width: 100vw;
}

.ContentPage {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CreateType {
    width: 60vw;
    &Title {
        font-weight: 500;
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }

}

.ButtonClose {
    margin-top: 20px;
    margin-left: 20px;
}

.ButonConfirm {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}