.Main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 2em;
    font-weight: 500;
}

.Content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

