.Header {
    background-color: #2e2e2e;
    color : white;
    display: flex;
    width: 95vw;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    padding: 10px;

    &LeftSide {
        display: flex;
        width: 20vw;
        align-items: center;
        justify-content: space-between;
    }

}