.Header {
    background-color: #06141B;
    position: sticky;
    color: white;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100vw;
    height: 7vh;

    &Right {
        margin-right: 30px;
        display: flex;
        align-items: center;

        &Login {

            margin-right: 20px;
            color: white;
            justify-content: right;
        }
    }
}