.CustomInput {
    font-family: Roboto;
    font-size: 1em;
    padding: 7px;
    color: rgb(119, 119, 119);
    height: 4vh;
    background-color: #111111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 10px;
    transition: background-color 0.2s, color 0.2s, opacity 0.2s;

    &:focus{
        background-color: #ffffff;
    }
    &:hover {
        color: rgb(211, 211, 211);
    }
    &::placeholder {

        &:hover {
            color: #ffffff;
        }

        &:active {
            color: #ffffff;
        }

        &:focus {
            color: #ffffff;
        }
    }

    &:focus {
        color: #000000;
    }


}