.Content {
    display: flex;
    flex-direction: column;
}

.CustomInput {
    font-family: Roboto, sans-serif;
    font-size: 1em;
    padding: 7px;
    color: rgb(119, 119, 119);
    height: 4vh;
    background-color: #111111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 10px;
    transition: background-color 0.2s, color 0.2s, opacity 0.2s;

    &:focus {
        background-color: #ffffff;
        color: #000000;
    }

    &:hover {
        color: rgb(211, 211, 211);
    }

    &::placeholder {
        color: rgb(169, 169, 169);
        transition: color 0.2s;

        &:hover,
        &:active,
        &:focus {
            color: #ffffff;
        }
    }
}

.Message {
    margin-top: 5px;
    color: red; // можно задать цвет сообщения или другой стиль
}