.Container {
    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    width: 40vw;
}

.Title {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;

    &Content {
        margin-left: 20px;
    }
}

.Article {
    display: flex;
    align-items: center;
    color: gray;

}