.CustomButton {
    
}

.Upload {
    color: #05141B;
    font-weight: 500;
    background-color: #C4C8C7;
    padding: 20px;
    font-size: 1.3em;
    border-radius: 10px;
    transition: opacity 0.3s;
    width: 70vw;
    min-width: 500px;

    &:hover {
        opacity: 0.8;
    }
}

.White {
    border: 1px #a7a7a7 solid;
    font-weight: 500;
    font-size: 1.3em;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    transition: opacity 0.3s;
    height: 4vh;
    width: 15vw;
    min-width: 200px;
    
    &:hover {
        opacity: 0.8;
    }
}

.Delete {
    background-color: #2e2e2e;
    color : white;
    padding: 5px;
    width: 100vw;
    border-radius: 10px;
    transition: opacity 0.3s;
    
    &:hover {
        opacity: 0.8;
    }
}

.Cancel {
    width: 17vw;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    font-size: 1.3em;
    background-color: #203240;
    height: 4vh;;
}